<div class = "container_header">
    <nav class = "header_links"><!-- шапка (меню) -->
        <a routerLink = "/" class="left-icon">
            <img [src] = "banklogo" alt = "banklogo" class = "icon_header">
            ОмБанк
        </a>
        <ul>
            <!--<li><a routerLink = "/cards">Предложения</a></li>-->
            <!--<li><a href="#!">Акции</a></li>-->
        </ul>
        <a routerLink = "/authorization" class="right-icon">
            <tui-icon class = "icon_account" icon = "@tui.circle-user-round" />
        </a>
    </nav>
</div>
